* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: azure;
}

:root::-webkit-scrollbar {
    color: green;
}

html,
body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gainsboro;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: -webkit-fill-available;
    /* Make tables responsive */
    /* max-width: fit-content; */
    /* Prevent overflow on smaller screens */
    table-layout: fixed;
    /* For even column distribution */
}

tr,
td {
    border: 1px solid grey;
    padding: 8px 10px;
    /* Consistent padding for table cells */
    word-wrap: break-word;
    /* Allow text to wrap within cells */
}

thead,
tfoot {
    background-color: #ffffff;
    font-weight: 600;
}

th {
    padding: 8px 10px;
    text-align: left;
    /* Default alignment for table headers */
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: #ebefff;
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

nav {
    margin: 1px;
    padding: 3px 15px;
    /* Adjusted padding for better spacing */
    background-color: rgb(255, 251, 236);
    border-bottom: 1px solid grey;
    z-index: 10;
}

nav div p {
    padding-right: 30px;
}

h3 {
    margin: 10px;
}

nav a,
nav a:visited {
    color: grey;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
}

nav a i {
    font-size: 20px;
}

nav p {
    display: flex;
    align-items: center;
    /* Align items to the center vertically */
}

.bi,
i {
    padding: 5px;
    cursor: pointer;
    /* Apply cursor to all icons */
    font-size: 22px !important;
    /* Consistent icon size */
}

/* REVISIT: Consider using media queries for better responsiveness */
input[type=text],
select {
    outline: none;
    border: 1px solid gainsboro;
    margin-top: 10px;
    min-width: 200px;
    width: fit-content;
    padding: 10px;
    /* Adjusted padding for input fields */
}

/* Remove redundant rule */
/* p i {
    font-weight: bolder;
    font-size: 30px;
} */

@supports (scrollbar-color: auto) {
    * {
        scrollbar-color: grey gainsboro;
    }
}

@supports selector(::-webkit-scrollbar) {
    *::-webkit-scrollbar {
        background: rgb(255, 239, 239);
    }

    *::-webkit-scrollbar-thumb {
        background: gainsboro;
    }
}