@media print {
    * {
        width: fit-content !important;
    }

    table {
        border-collapse: collapse !important;
    }

    .bi {
        display: none;
    }

    tr,
    td {
        border: 1px solid black;
    }

    thead,
    tfoot {
        font-weight: 700 !important;
    }

}