@media print {
    table {
        border-collapse: collapse !important;
    }

    .bi {
        display: none;
    }

    tr,
    td {
        border: 1px solid black;
    }

    thead,
    tfoot {
        font-weight: 500 !important;
    }

}