.nav-bar {
    width: 100%;
    position: static;
    color: white;
    z-index: 300000000000;
    top: -12px;
}

.container {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}


.full-width {
    width: 100%;
}


.full-height {
    height: 100%;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.scroll-y {
    overflow-y: scroll;
}

.scroll-x {
    overflow-x: scroll;
}


.nav-bar .icon {
    padding: 20px;
}

.icon {
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;
    cursor: pointer;
    z-index: 300000000000;
}

.btn-normal {
    background-color: white;
    max-width: 100px;
    color: grey;
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;
}


.drawer div a {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 10px;
    background-color: transparent;
}

.reg-btn {
    color: white;
    background-color: #2f1e4b;
    width: 120px;
    padding: 10px;
    background: royalblue;
    color: white;
    min-width: fit-content;
    width: 200px;
    border: none;
}

#main-div {
    padding: 20px;
    overflow-y: scroll;
}