@media screen and (max-width: 800px) {
    .w-d {
        display: none;
    }

    .drawer {
        display: none;

        height: 0%;
        width: 100%;
        max-width: 100% !important;

        padding-inline: 10px;
        padding-top: 20px;

        position: fixed;
        top: 0px;
        left: 0px;

        overflow-x: hidden;
        padding: 10px;
        padding-inline-end: 10px;

        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }


    .drawer div {
        padding-left: 80px;
    }

    .drawer p {
        padding-left: 40px;
    }

    .content {
        width: 100% !important;
    }

    .drawer :first-of-type(div) {
        overflow-y: scroll !important;
    }
}

@media screen and (min-width: 801px) {
    .s-d {
        display: none;
    }

    .drawer {
        opacity: 1 !important;
        flex: 1;
        height: 100% !important;
        padding: 10px !important;
    }

    .content {
        flex: 5;
        height: 100% !important;
    }
}