<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parish Data Manager</title>

    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <nav class="fx-row f-w space-between">
        <h3 class="title">PDM</h3>

        <div class="fx-row f-w f-h just-end txt-c">
            <!-- menu icon -->
            <p class="s-d drawer-toggle"><i class="bi bi-justify"></i></p>

            <p class="w-d">
                <a href=""><i class="bi bi-file-earmark-text"></i>reports</a>
            </p>

            <p class="w-d">
                <a href=""><i class="bi bi-feather"></i> registry</a>
            </p>

            <p class="w-d">
                <a href=""><i class="bi bi-person"></i>profile</a>
            </p>
        </div>
    </nav>

    <div class="container fx-row">

        <div class="drawer fx-col">
            <p class="s-d drawer-toggle"><i class="bi bi-x-lg"></i></p>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda totam minus exercitationem quia
            accusantium aliquam aliquid praesentium commodi veritatis unde porro nesciunt nemo nulla, quas tenetur odio
            laborum dolore?
        </div>

        <div class="content fx-col">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque impedit nihil odit vero, nulla quaerat dicta
            voluptatum culpa, enim explicabo earum iusto? Recusandae maxime expedita, perspiciatis mollitia est iste
            commodi.
        </div>
    </div>

    <script type="module" src="../scripts/components/drawer.js"></script>
</body>

</html>